/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.headSection{
    background: #262626;
}
.navbar-default{
    background-color: #262626;
    border-color: #262626;
}
.navbar-default .navbar-nav>li>a{
    color: #9d9d9d;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #EA6660;
}
.navbar{
    padding: 15px 0;
    margin-bottom: 0;
}
.bannerSection{
    background: #2A2A2A;
    padding: 60px 0;
}
.banner{}
.banner h2{
    font-family: 'winsoft_promedium';
    font-size: 60px;
    color: #D9D9D9;
}
.banner p{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #D9D9D9;
}
.myButton{
    background-color: #EA6660;
    color: #9d9d9d;
    border: 0;
    font-size: 20px;
    margin-top: 45px;
    padding: 10px 35px;
    text-transform: uppercase;
}
.serviceSection{
    background: #f8f8f8;
    padding: 90px 0;
    color: #616161;
}
.sameService{
    margin-right: 20px;
}
.sameService i{
    font-size: 70px;
    padding-bottom: 20px;
}
.sameService p{
    font-size: 16px;
    line-height: 25px;
}
.portfolioSection{
    padding: 80px 0;
}
.ourPortfolio h2{
    margin-top: 0;
}

/*Sort and filter*/
* { box-sizing: border-box; }

body {
    font-family: sans-serif;
}

/* ---- button ---- */

.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    background: #ff6760;
    color: #ffffff;
    border: medium none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: #595959;
    text-shadow: 0 1px hsla(100, 100%, 100%, 0.5);
    color: #ffffff;
}

.button:active,
.button.is-checked {
    background-color: #595959;
}

.button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
    margin-bottom: 20px;
}

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    border-radius: 5px;
    margin-left: 0;
    margin-right: 1px;
    margin-top: 50px;
}

/* ---- isotope ---- */

.grid {

}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    width: 25%;
    border: 5px solid #ffffff;
}

.element-item img{
    width: 100%;

}

.element-item > * {
    margin: 0;
    padding: 0;
}

.element-item .name {
    position: absolute;
    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}

.element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
}

.element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
}

.contactSection{
    padding: 60px 0;
    background: #313131;
    color: #e0e0e0;
}
.contact{

}
.contact h2{
    font-size: 30px;
    font-weight: bold;
}
.contact h4{
    font-size: 20px;
    padding: 15px 0;
}
.ourAddress{
    margin: 0 auto;
    max-width: 314px;
    overflow: hidden;
    padding: 15px 0;
}
.address{
    float: left;
    font-size: 14px !important;
    margin-right: 30px;
    padding-left: 15px;
    background: url(../img/map.png) no-repeat scroll 0 3px;
}
.phone{
    float: left; 
    font-size: 14px !important; 
    padding-left: 15px;

    background: url(../img/phone.png) no-repeat scroll 0 3px;
}
.social{
    padding: 10px;
}
.social i{
    border-radius: 50px;
    color: #ffffff;
    font-size: 20px;
    height: 50px;
    margin-right: 10px;
    padding-top: 17px;
    width: 50px;
}
.fb{
    background: #5883c0;
}
.tm{
    background: #63bee0;
}
.pin{
    background: #d35051;
}
.footerSection{
    background: #2c2c2c;
    padding: 35px 0;
}
.footerSection p{
    font-size: 15px;
    color: #ffffff;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
